<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/books"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedBook.bookName }} {{ loadedBook.chapter }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center"> {{ loadedBook.bookName }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            {{ loadedBook.verse }}
            {{ loadedBook.text }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
