ion-content {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
}
ion-button[color="dark"] {
  text-transform: initial;
  color:black;
}
ion-content.myview {
  // --ion-background-color: pink;
  // --background: url(../../assets/images/bg.jpg);
  background-color: white;
}
.card {
  height: 100%;
}
// .myview {
//   background-image: url('../../assets/images/bg.jpg');
//   background-repeat: no-repeat;
//   background-size:cover;
// }
.top {
  margin: 0;
  color: rgb(172, 95, 60);
}
.cont {
  width: 100%;
  background: transparent !important;
  display: flex;
  justify-content: left;
  color: rgb(204, 134, 3);
  h5 {
    padding-right: 10px;
    font-size: 10px;
    font-weight: 200;
  }
  p{
    font-size: 15px;
    font-weight: 200;
  }
}


