<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- credit to // credit to https://raw.githubusercontent.com/bibleapi/bibleapi-bibles-json/master/kjv.json -->
<!-- <ion-content [fullscreen]="true"> -->
<ion-content class="myview" [fullscreen]="true">
  <!-- <h1 class="ion-text-center top">2 John 1</h1>
  <div class="cont"  *ngFor="let item of secJohn">

    <h5>{{ item.verse }}</h5>
    <p>{{ item.text }}</p>
  </div> -->

  <!-- <ion-slides>
    <ion-slide>
      <h1>Awesome SLide Content 1</h1>
      <div class="card">
        <h1 class="ion-text-center top">2 John 1</h1>
        <div class="cont"  *ngFor="let item of secJohn">
          <h5>{{ item.verse }}</h5>
          <p>{{ item.text }}</p>
        </div>
      </div>
    </ion-slide>

  </ion-slides> -->

<swiper [config]="swiperConfig">
  <ng-template swiperSlide>
    <div class="card">
    <h1 class="ion-text-center top">2 John 1</h1>
    <div class="cont"  *ngFor="let item of secJohn">
      <h5>{{ item.verse }}</h5>
      <p>{{ item.text }}</p>
    </div>
  </div> </ng-template>
  <ng-template swiperSlide> Swiper Slide is Awesome 2</ng-template>
  <ng-template swiperSlide> Swiper Slide is Awesome 3</ng-template>
</swiper>
</ion-content>
